<div class="home well">
  <p>
    This is a TODO app written by Francisco Goitia following the Ember guides with the objetive of learning to create
    ambitious web applications using the Ember.js framework.
  </p>
  {{link-to 'Manage TODOS' 'todos'}}
</div>
